body{
	background: #d2d2c1 url("images/fundo.png");
	font: 16px Arial, Helvetica, sans-serif;
}

#main_div{
	width: 900px;
}

#menu {
	background: #c5c5b2;
	padding: 18px;
}

#cont{
	background: #e8e8d9;
	padding: 10px;
}

a {
	color: #4b566a;
	text-decoration: none;
	font font-weight: bold;
	padding: 5px;
}

.centralize{
	text-align: center;
}

h5 {
	color: #828271;
	font-size: 0.8em;
}

.img-campanha {
	border:10px solid #c3c3ae;
}
